.git

._.DS_Store
.DS_Store

models/*
data/*
submissions/*

*.pyc
.ipynb_checkpoints/

*.csv
*.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
